In [1]:
import pandas as pd

In [ ]:
data = { 'queries' : ["Renewables", "Climate", "Hydro","Wind","Solar", "H-Fuel Cells", "Distributed", "Batteries", "EV", "Biothermal", "Heating/Cooling" ],
'2000-2019' : [230,247,24,34,28,46,74,193,101,91,29],
'2020-2024' : [96, 135, 9, 17, 16, 30, 27, 71, 37, 34, 17]}

df = pd.DataFrame(data)

In [22]:
df

            queries  2000-2019  2020-2024
0        Renewables        230         96
1           Climate        247        135
2             Hydro         24          9
3              Wind         34         17
4             Solar         28         16
5      H-Fuel Cells         46         30
6       Distributed         74         27
7         Batteries        193         71
8                EV        101         37
9        Biothermal         91         34
10  Heating/Cooling         29         17

In [25]:
df['Avg_Documents_2000_19'] = df['2000-2019'] / 20
df['Avg_Documents_2020_24'] = df['2020-2024'] / 5
df['Avg_Increase'] = round(df['Avg_Documents_2020_24'] / df['Avg_Documents_2000_19'] * 100)

df

,queries,2000-2019,2020-2024,Avg_Documents_2000_19,Avg_Documents_2020_24,Avg_Increase
0,Renewables,230,96,11.50,19.2,167.0
1,Climate,247,135,12.35,27.0,219.0
2,Hydro,24,9,1.20,1.8,150.0
3,Wind,34,17,1.70,3.4,200.0
4,Solar,28,16,1.40,3.2,229.0
5,H-Fuel Cells,46,30,2.30,6.0,261.0
6,Distributed,74,27,3.70,5.4,146.0
7,Batteries,193,71,9.65,14.2,147.0
8,EV,101,37,5.05,7.4,147.0
9,Biothermal,91,34,4.55,6.8,149.0
10,Heating/Cooling,29,17,1.45,3.4,234.0

Creating a searches file

In [ ]:
search = { 'CELEX number' : ["32023R0857","32023L0959","32023R0957"]}

s = pd.DataFrame(search)
s.to_csv("text_processing/searches.csv", index= False)